
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}
.btn-github{
  background-color: black;
  border-color:black;
  color:white;
}
.btn-github:hover{
  color:white;
  background-color: black;
  border-color:black;
  -webkit-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
}
.logo-size{
  width: 120px;
}
.nav-outline .nav-link:hover, .nav-outline .nav-link.active{
  background-color: #0facf3;
}
.nav-outline .nav-link{
  border: 1px solid #0facf3;
  color: #0facf3;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-top:50px;
  margin-bottom:30px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  left:550px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 593px;
  height: 230px;
  position: relative;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.img-series{
  border: 5px solid #fdfff2;
  box-shadow: 2px 2px 2px 2px #ecf0f7;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

.no-scroll{

  overflow-y: hidden;
 
}

@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview{
   width: 280px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:200px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (max-width: 575.98px){

  .avatar-upload .avatar-preview{
   width: 10px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:200px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}



@media (max-width: 1024px) {


  .avatar-upload .avatar-preview{
   width: 280px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:240px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (max-width: 1500px) {


  .avatar-upload .avatar-preview{
   width: 520px;
   height: 200px;
 }
 .avatar-upload .avatar-edit{

  left:480px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (min-width: 1500px) {


  .avatar-upload .avatar-preview{
   width: 750px;
   height: 250px;
 }
 .avatar-upload .avatar-edit{

  left:700px;
  position: absolute;

  z-index: 1;
  top: 8px;
}

}




