
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}
.btn-github{
  background-color: black;
  border-color:black;
  color:white;
}
.btn-github:hover{
  color:white;
  background-color: black;
  border-color:black;
 -webkit-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
}
.logo-size{
  width: 120px;
}
.nav-outline .nav-link:hover, .nav-outline .nav-link.active{
  background-color: #0facf3;
}
.nav-outline .nav-link{
  border: 1px solid #0facf3;
  color: #0facf3;
}
@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}


