
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}
.btn-github{
  background-color: black;
  border-color:black;
  color:white;
}
.btn-github:hover{
  color:white;
  background-color: black;
  border-color:black;
  -webkit-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 23px -4px rgba(0,0,0,0.75);
}
.logo-size{
  width: 120px;
}
.nav-outline .nav-link:hover, .nav-outline .nav-link.active{
  background-color: #0facf3;
}
.nav-outline .nav-link{
  border: 1px solid #0facf3;
  color: #0facf3;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-top:50px;
  margin-bottom:30px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  left:550px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 593px;
  height: 230px;
  position: relative;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.img-series{
  border: 5px solid #fdfff2;
  box-shadow: 2px 2px 2px 2px #ecf0f7;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

.no-scroll{

  overflow-y: hidden;
 
}

.btn-logo-color{
      background-color: #ff8248;
    border-color: #ff8248;
    color: #fdfdfe;
}
.btn-logo-color:hover{
  color:white;
  background-color: #ff5100;
  border-color:#ff5100;
}

.hidden{
  display: none !important;
}
.loader-ring {
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.loading-spinner {
  position : absolute;
  top      : 50%;
  left     : 50%;
  -webkit-transform : translateX(-50%) translateY(-50%);
     -moz-transform : translateX(-50%) translateY(-50%);
          transform : translateX(-50%) translateY(-50%);
}

.dot {
  background    : black;
  border-radius : 100%;
  color         : white;
  height        : 8px;
  line-height   : 8px;
  text-align    : center;
  width         : 8px;
}

.dotOne {
  -webkit-animation : dotOneKeyframes 2s ease  infinite;
  background        : #67bce6;
  position          : absolute;
  top               : 0;
  left              : 0;
}

.dotTwo {
  -webkit-animation : dotTwoKeyframes 2s ease 0.4166666666666s infinite;
  background        : #67bce6;
  position          : absolute;
  top               : 0;
  left              : 14px;
}

.dotThree {
  -webkit-animation : dotThreeKeyframes 2s ease 0.83333333333s infinite;
  background        : #67bce6;
  position          : absolute;
  top               : 14px;
  left              : 14px;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}





.header-admin{

  height: 50px !important; 
  min-height: 30px !important;
}
.tabledata::-webkit-scrollbar {
  width: 8px;
}
/* Set Scrollbar Buttons */
.tabledata::-webkit-scrollbar-button {
 
} 
/* Set Scrollbar Track */
.tabledata::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  -webkit-border-radius: 10px;
  border-radius: 5px;
}   
.tabledata::-webkit-scrollbar-track-piece {
  
}
/* Set Scrollbar Handle */
.tabledata::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(72, 198, 255, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} 
.tabledata::-webkit-scrollbar-corner {
  
}    
.tabledata::-webkit-resizer {
  
}
.tabledata::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

.display{
  display: block;
}
/* Demo specific styles end */

/* Loader ring with 6 dots */
.loader-ring, .loader-ring:before, .loader-ring:after {
  display: inline-block;
  width: 15px;
  height: 40px;
  line-height: 80px;
  transform-origin: 8px 0px;
  color: teal;
  font-size: 40px;
  font-family: "Times New Roman";
  position: absolute;
  z-index: 100000;
  content: '•';
}
.loader-ring:before, .loader-ring:after {
  opacity: 0;
  text-shadow: 12px -2px 0px teal, -12px -2px 0px teal;
  transform: rotateZ(0deg);
  animation: loading 2s cubic-bezier(.15,.65,.85,.35) infinite, loading-shadow 2s cubic-bezier(.25,.75,.35,1) infinite alternate, loading-opacity 1s infinite;
}
.loader-ring:after {
  animation-delay: 1.35s;
}

.fa-minus-circle{
  color:#e4e7ea;
}
.c-pointer{
  cursor: pointer;
}
.fa-minus-circle:hover{

  
  color:red;
  cursor: pointer;
  transform: scale(1.027);
  transition: transform 0.1s cubic-bezier(.25,.75,.35,1);
}
@keyframes loading {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes loading-shadow {
  from {
    text-shadow: 35px -15px 0px teal, -35px -15px 0px teal;
  }
}
@keyframes loading-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

}

@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview{
   width: 280px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:200px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (max-width: 575.98px){

  .avatar-upload .avatar-preview{
   width: 10px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:200px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}



@media (max-width: 1024px) {


  .avatar-upload .avatar-preview{
   width: 280px;
   height: 150px;
 }
 .avatar-upload .avatar-edit{

  left:240px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (max-width: 1500px) {


  .avatar-upload .avatar-preview{
   width: 520px;
   height: 200px;
 }
 .avatar-upload .avatar-edit{

  left:480px;
  position: absolute;

  z-index: 1;
  top: 6px;
}

}

@media (min-width: 1500px) {


  .avatar-upload .avatar-preview{
   width: 750px;
   height: 250px;
 }
 .avatar-upload .avatar-edit{

  left:700px;
  position: absolute;

  z-index: 1;
  top: 8px;
}

}
@-webkit-keyframes dotOneKeyframes {
  0% {
    top  : 0;
    left : 0;
  }
  8.3333333333% {
    top  : 14px;
    left : 0;
  }
  16.6666666666% {
    
  }
  25% {
    top  : 14px;
    left : 0;
  }
  33.3333333333% {
    top  : 14px;
    left : 14px;
  }
  41.6666666666% {
    
  }
  50% {
    top  : 14px;
    left : 14px;
  }
  58.3333333333% {
    top  : 0;
    left : 14px;
  }
  66.6666666666% {
    
  }
  75% {
    top  : 0;
    left : 14px;
  }
  83.3333333333% {
    top  : 0;
    left : 0;
  }
  91.6666666666% {
    
  }
  100% {
    
  }
}


@-webkit-keyframes dotTwoKeyframes {
  0% {
    top  : 0;
    left : 14px;
  }
  8.3333333333% {
    top  : 0;
    left : 0;
  }
  16.6666666666% {
    
  }
  25% {
    top  : 0;
    left : 0;
  }
  33.3333333333% {
    top  : 14px;
    left : 0;
  }
  41.6666666666% {
    
  }
  50% {
    top  : 14px;
    left : 0;
  }
  58.3333333333% {
    top  : 14px;
    left : 14px;
  }
  66.6666666666% {
    
  }
  75% {
    top  : 14px;
    left : 14px;
  }
  83.3333333333% {
    top  : 0;
    left : 14px;
  }
  91.6666666666% {
    
  }
  100% {
    
  }
}

@-webkit-keyframes dotThreeKeyframes {
  0% {
    top  : 14px;
    left : 14px;
  }
  8.3333333333% {
    top  : 0;
    left : 14px;
  }
  16.6666666666% {
    
  }
  25% {
    top  : 0;
    left : 14px;
  }
  33.3333333333% {
    top  : 0;
    left : 0;
  }
  41.6666666666% {
    
  }
  50% {
    top  : 0;
    left : 0;
  }
  58.3333333333% {
    top  : 14px;
    left : 0;
  }
  66.6666666666% {
    
  }
  75% {
    top  : 14px;
    left : 0;
  }
  83.3333333333% {
    top  : 14px;
    left : 14px;
  }
  91.6666666666% {
    
  }
  100% {
    
  }
}




